@import "var";
 
.myBlog{
    background-color: $dark-1-color;
    width: 100%;
    padding-bottom:$titPadding;
    @include displayFlex ($flxDir:column);
    .blogTitle{
        text-align: center;
        padding-bottom:$titPadding;
        .title2{
            @include  h2Title($fntS:$tit500);
        }
    }
    .owl-carousel .owl-nav.disabled {
        display:block;
    }
    .owl-nav button{
        @include myOwlCar;
        }
    }
.blogNews{
        color: $light-1-color;
        width: 100%;
        @include displayFlex ($flxDir:column,$algnItm:flex-start);
        h4{
            font-size: 20px;
            font-weight: 700;
        }
        .myDateBlog{
            background-color: $dark-3-color;
            font-size: 14px;
            padding: 5px 8px;
            margin-top: 20px;
        }
        .postLink{
            color: $light-1-color;
            transition: $timeTr;
            &:hover{
                color: $secondary-color;
            }
        }
    }

/*Media Queries 540px to 768px*/

@media only screen and (min-width: 540px){
body{
    .myBlog{
        @include displayFlex ($flxDir:column);
        .blogTitle{
            @include paddingx2;
            .title2{
                @include h2Title($fntS:$tit700);
                @media only screen and (min-width: 768px){
                    @include h2Title($fntS:$tit900); 
                }
            }
        }
    }
}
}

/*Media Queries 992px*/

@media (min-width: 992px ) {
    body{
    .myBlog{
        @include paddingx2;
        width:100%;
        @include displayFlex ($flxDir:column);
        .pricingTitles{
            @include displayFlex;
            .blogTitle{
                text-align: center;
                width:50%;
                .title2{
                    @include h2Title($fntS:$tit900);
                }
            }
        }

        .owl-carousel .owl-nav.disabled {
            display:block;
        }
        .owl-nav button{
            @include myOwlCar;
            }
        }
        .blogNews{
            width: 100%;
            @include displayFlex ($flxDir:column,$algnItm:flex-start);
            h4{
                font-size: 20px;
                font-weight: 700;
            }
            .myDateBlog{
                background-color: $dark-3-color;
                font-size: 14px;
                padding: 5px 8px;
                margin-top: 20px;
            }
            .postLink{
                color: $light-1-color;
                transition: $timeTr;
                &:hover{
                    color: $secondary-color;
                }
            }
        }
    
}
}


