@import "var";

/*portfolio*/

.portfolio2{
    .port2title{
        @include displayFlex ($flxDir:column, $jtfCont:space-between);
        text-align:center;
        @include paddingx2;
        .title2{
            @include h2Title;
            font-size: $tit500;
        }
        .port2TitleImg{
            width: fit-content;
            background-color: $dark-3-color;
            border-radius: 50%;
            padding: 30px;
            border: $dark-2-color solid 10px;
            outline: $dark-3-color 2px dashed;
            .workIcon{
                width: 60px;
                filter: $secondary-color-icon;
            }
        }
    }
    .cardCont{
        @include displayFlex ($flxDir:column, $algnItm:center);
        text-align:center;
        .contImg{
            overflow: hidden;
            .imgCar {
                height: 400px;
                width: auto;
                transition: transform $timeTr; 
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
        .myCardPort{
            color: $light-1-color;
            padding-top: 30px;
            h4{
                font-weight: 600;
            }
             p{
                font-size: 15px;
                padding-top: 10px;
            }
        }
    }

    /*clases del carrousel*/

    .owl-carousel .owl-nav.disabled {
        display:block;
    }
    .owl-nav button{
        @include myOwlCar;
    }

}

/*Opinion*/

.opinionBackground{
    background: radial-gradient(circle at 50% 70% , $bg-yw 0%, $dark-1-color 40%);
    @include paddingx2;
     .opinions{
        text-align:center;
        @include displayFlex($flxDir:column, $algnItm:center, $jtfCont:space-between);
        color: $light-1-color;
        .opinionImg{
            width: 30%;
            border-radius: 50%;
            box-shadow:
            0 0 0 10px $dark-1-color,
            0 0 0 12px $dark-grey-color,
            0 0 0 24px $dark-1-color,
            0 0 0 26px $dark-3-color,
            0 0 0 38px $dark-1-color,
            0 0 0 40px $dark-2-color,
            0 0 0 52px $dark-1-color,
            0 0 0 54px $dark-2-color;
            margin-bottom: 90px;
            .imgopion{
                width: 100%;
                border-radius: 50%;
            }
        }
        .opinionsText{
            .subOpinionText{
                h3{
                    font-weight: 600;
                }
                p{
                    font-size: 16px;
                }
                h4{
                    font-weight: 600; 
                    span{
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
            .btnPrev{
                width: 90%;
            }
        }

    }
}

/*Media Queries 540px to 768px*/

@media only screen and (min-width: 540px){
body{
    #myPortfolio{
        .portfolio2{
            .port2title{
                .portText{
                    @include paddingx2($height:$tit500);
                    .title2{
                        @include h2Title($fntS:$tit700);
                    }
                }
            }
            .cardCont{
                .contImg{
                    .imgCar {
                        height: 100% !important;
                        width: 100% !important;
                    }
                }
            }
        }

        .opinionBackground{
            @include paddingx2($height:$titPadding90);
       }  
}
}
}


/*Media Queries 768px*/

@media only screen and (min-width: 768px){
    body{
        #myPortfolio{
            .portfolio2{
                .port2title{
                    .portText{
                        @include paddingx2($height:$tit700);
                        .title2{
                            @include h2Title($fntS:$tit900);
                        }
                    }
                }
            } 
    }
    }
}

/*Media Queries 992px*/
@media (min-width: 992px ) {
    body{
        .portfolio2{
            .port2title{
                @include displayFlex ($jtfCont:space-between);
                @include paddingx2($height:0);
                .portText{
                    text-align:left;
                    @include paddingx2($height:0);
                    .title2{
                        @include h2Title($fntS:$tit900);
                    }
                }
                .port2TitleImg{
                    width: fit-content;
                    background-color: $dark-3-color;
                    border-radius: 50%;
                    padding: 30px;
                    border: $dark-2-color solid 10px;
                    outline: $dark-3-color 2px dashed;
                    .workIcon{
                        width: 60px;
                        filter: $secondary-color-icon;
                    }
                }
            }
            .contImg{
                overflow: hidden;
                .imgCar {
                    height: 400px;
                    width: auto;
                    transition: transform $timeTr; 
                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
            .myCardPort{
                color: $light-1-color;
                padding-top: 30px;
                h4{
                    font-weight: 600;
                }
                 p{
                    font-size: 15px;
                    padding-top: 10px;
                }
            }
            /*clases del carrousel*/
        
            .owl-carousel .owl-nav.disabled {
                display:block;
            }
            .owl-nav button{
                @include myOwlCar;
            }
        
        }
        
        /*Opinion*/
        
        .opinionBackground{
            background: radial-gradient(circle at 70% 40% , $bg-yw 0%, $dark-1-color 40%);
             width: 100%;
             @include paddingx2;
             .opinions{
                width: 100%;
                @include displayFlex($jtfCont:space-evenly);
                .opinionImg{
                    width:300px;
                    .imgopion{
                        width:300px;
                    }
                }
                .opinionsText{
                    text-align:left;
                    .subOpinionText{
                        h3{
                            font-weight: 600;
                        }
                        p{
                            font-size: 16px;
                            line-height:35px;
                        }
                        h4{
                            font-weight: 600; 
                            span{
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }
                    }

                }
            }
        }        
    }
}

/*Media Queries 1200px*/
@media (min-width: 1200px ) {
body{

     /*Opinion*/
        .opinionBackground{
            .opinions{
                .opinionImg{
                   .subOpinionText{
                       h3{
                           font-weight: 600;
                       }
                       p{
                           font-size: 16px;
                           line-height:35px;
                       }
                       h4{
                           font-weight: 600; 
                           span{
                               font-weight: 500;
                               font-size: 14px;
                           }
                       }
                   }
               }
               .opinionsText{
                width:40%;
               }
           }
       }     
    }
}