@import "var";

.myServ{ 
    width: 100%;
    @include paddingx2;
    @include displayFlex ($flxDir:column);
    .subArt1{
        @include displayFlex ($flxDir:column);
        text-align: center;
        .title2{
            @include  h2Title($fntS:$tit500);
        }
        .secciones1{
            @include displayFlex;
            gap: 30px;
            width: 100%;
            @include paddingx2;
            .btnSec{
                width: 27%;
                @include bnt1($bgr: $dark-3-color, $bgrH:$dark-1-color,
                $bdr:$dark-3-color,$bdrpx:3px,$clr:$light-1-color, 
                 $clrH:$light-1-color,
                  $fntS:14px,$fntW:600,
                  $padding:8px 0,
                  $timeTrans:0s);
                a{
                    color: $light-1-color;
                }
            }
            .btnactivo{
                border: $dark-3-color solid 3px;
                background-color: $light-transparent;
                a{
                    color: $secondary-color;
                }
                
            }
        }
    }
    .subArt2{
        @include displayFlex ($flxDir:column, $jtfCont:space-evenly);
        gap:30px;
        width: 100%;
        .myCards{
            @include displayFlex ($flxDir:column, $jtfCont:space-between);
            border: $dark-3-color solid 2px;
            background-color: $dark-0-color;
            border-radius: 10px;
            width: 70%;
            height:380px;
            padding: 20px;
            text-align: center;
            h3{
                color: $light-1-color;
                font-weight: 600;
            }
            .divImgArt{
                width: fit-content;
                background-color: $dark-3-color;
                border-radius: 50%;
                padding: 30px;
            }
            .imgArt{
                width: 60px;
                filter: $secondary-color-icon;
            }
        }
    }
}

/*pricing*/

.pricing{
    background: radial-gradient(circle at center center, $secondary-hover 0% , $dark-1-color 35%);
    width: 100%;
    text-align: center;
    @include displayFlex ($flxDir:column);
    .pricingTitles{
        p{
            padding-top: 15px;
            padding-bottom: 40px;
        }
        .title2{
            @include h2Title;
            font-size: $tit500;
        }
    }
    .planes{  
        @include displayFlex ($flxDir:column, $jtfCont:space-evenly);
        gap: 20px;
        li{
            padding-bottom: 10px;
        }
        .plan{
            background-color: $dark-2-color;
            width: fit-content;
            height: 550px;
            text-align: center;
            @include displayFlex ($flxDir:column, $jtfCont:space-between);
            color: $light-1-color;
            .mySpan{
                @include h2Title;
                spam{
                    font-size: $tit500;  
                }
            }
            p{
                font-size: 18px;
                width: 70%;
                padding-bottom: 30px;
                border-bottom:$primary-color solid 1px ;
            }
            ul{
                padding-left: 0%;
            }
            .planType{
                background-color: $primary-color;
                font-size: 18px;
                width: fit-content;
                padding: 8px 28px;
                border-radius:  0 0 10px 10px ;
                .mySpan{
                    font-size: 40px;
                    font-weight: 800;
                }
            }
            .planBtn{
                @include bnt1($bgr: $dark-2-color,$padding:8px 28px,$fntW:600,$bdr-rd:0);
                width: fit-content;
                margin-bottom: 50px;
            }
            .planBtnAct{
                background-color: $primary-color;
                color: $light-1-color !important;
            }
        }
    }
 
}

/*Media Queries 540px to 768px*/

@media only screen and (min-width: 540px){
    body{
        .myServ{ 
            .subArt1{
                .title2{
                @include h2Title($fntS:$tit700);
                }
            }
        }
        .pricing{
            .pricingTitles{
                .title2{
                    @include h2Title($fntS:$tit700);
                    }
            }
        }
    }
}
/*Media Queries 768px to 992px*/
@media only screen and (min-width: 768px){
    body{
        .myServ{ 
            padding-bottom: $titPadding80;
            .subArt1{
                .title2{
                @include h2Title($fntS:$tit900);
                }
                .secciones1{
                    .btnSec{
                        @include bnt1($bgr: $dark-3-color, $bgrH:$dark-1-color,
                        $bdr:$dark-3-color,$bdrpx:3px,$clr:$light-1-color, 
                         $clrH:$light-1-color,
                          $fntS:18px); 
                    }
                    .btnactivo{
                        border: $dark-3-color solid 3px;
                        background-color: $light-transparent;
                        a{
                            color: $secondary-color;
                        }
                        
                    }
                }
            }
        }
        .pricing{
            padding-bottom: $titPadding80;
            .pricingTitles{
                .title2{
                    @include h2Title($fntS:$tit900);
                    }
            }
        }   
    }
}

/*Media Queries 992px to 1200px*/
@media only screen and (min-width: 992px){
body{
        .myServ{ 
            width: 100%;
            @include paddingx2( $height:$titPadding90);
            @include displayFlex ($flxDir:column);
            .subArt1{
                @include displayFlex ($flxDir:column);
                text-align: center;
                .title2{
                    @include h2Title($fntS:$tit900);
                }
                .secciones1{
                    @include displayFlex;
                    gap: 30px;
                    width: 100%;
                    @include paddingx2($height:50px);
                    .btnSec{
                        width: 200px;
                        background-color: $dark-3-color;
                        @include paddingx2($height:15px);
                        padding: 15px 25px 15px 25px;
                        border-radius: 50px;
                        font-weight: 600;
                        font-size: 22px;
                        text-align: center;
                        a{
                            color: $light-1-color;
                        }
                    }
                    .btnactivo{
                        border: $dark-3-color solid 3px;
                        background-color: $light-transparent;
                        a{
                            color: $secondary-color;
                        }
                        
                    }
                }
            }
            .subArt2{
                @include displayFlex ($jtfCont:space-evenly);
                width: 100%;
                .myCards{
                    width: 100%;
                    border: $dark-3-color solid 2px;
                    border-radius: 10px;
                    width: 400px;
                    height: 450px;
                    padding: 20px;
                    h3{
                        color: $light-1-color;
                        font-weight: 600;
                    }
                    .divImgArt{
                        width: fit-content;
                        background-color: $dark-3-color;
                        border-radius: 50%;
                        padding: 30px;
                    }
                    .imgArt{
                        width: 60px;
                        filter: $secondary-color-icon;
                    }
                }
            }
        }
    }
        /*pricing*/
        
        .pricing{
            @include paddingx2($height:$titPadding90);
            text-align: center;
            @include displayFlex ($flxDir:column);
            .pricingTitles{
                width: 50%;
                p{
                    padding-top: 15px;
                    padding-bottom: 80px;
                }
            }
            .planes{
                @include displayFlex ($jtfCont:space-evenly);
                gap: 20px;
                li{
                    padding-bottom: 10px;
                }
                .plan{
                    background-color: $dark-2-color;
                    height: 550px;
                    text-align: center;
                    @include displayFlex ($flxDir:column, $jtfCont:space-between);
                    color: $light-1-color;
                    h4{
                        font-size: 18px;
                    }
                    p{
                        font-size: 18px;
                        width: 70%;
                        padding-bottom: 30px;
                        border-bottom:$primary-color solid 1px ;
                    }
                    ul{
                        padding-left: 0%;
                    }
                    .planType{
                        background-color: $primary-color;
                        font-size: 17px;
                        width: fit-content;
                        padding: 8px 28px;
                        border-radius:  0 0 10px 10px ;
                        .mySpan{
                            font-size: 40px;
                            font-weight: 800;
                        }
                    }
                    .planBtn{
                        color: $primary-color;
                        font-weight: 600;
                        border: $primary-color solid 1px;
                        width: fit-content;
                        padding: 8px 28px;
                        margin-bottom: 50px;
                        transition: $timeTr;
                        &:hover{
                            background-color: $primary-hover;
                            color: $light-1-color;
                        }
                    }
                }
            }
         
        }
    }


/*Media Queries 1200px*/
/*@media (min-width: 1200px ) {
    body{
        .myServ{ 
            
            .subArt1{
               
                .title2{

                }
                .secciones1{

                    .btnSec{
                        
                        a{
                        }
                    }
                    .btnactivo{
                       
                        a{
                        }
                        
                    }
                }
            }
            .subArt2{
               
                .myCards{
                   
                    h3{
                      
                    }
                    .divImgArt{
                        
                    }
                    .imgArt{
                       
                    }
                }
            }
        }
        

        
        .pricing{
            
            .pricingTitles{
                p{
                }
                .title2{
                }
            }
            .planes{
                li{
                }
                .plan{

                    h4{
                    }
                    p{

                    }
                    ul{
                    }
                    .planType{
                       
                        .mySpan{
                           
                        }
                    }
                    .planBtn{
                       
                        }
                    }
                }
            }
         
        }
        
    }*/ 


